node_modules/
**/node_modules/
dist/
coverage/
mocks/
.eslintrc.js
.script-config.js
.types.d.ts
mock/
command/
bin/
packages/
start/
help/
app.json.js
typings/
babel.config.js
.eslintrc.js
lib/
commonPackage/
src/components/vant
src/core/request/type.d.ts